<phpunit colors="true"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true">
        
        <testsuites>
            <testsuite name="Test Suite">
                <directory>phpunit</directory>
            </testsuite>    
        </testsuites>
        
</phpunit>
        